/*@media (max-width: 930px) { /* это будет показано при разрешении монитора до 930 пикселей 
  .content-wrapper {padding: 0;} /* основное содержимое занимает всё пространство окна 
}

@media (max-width: 930px) and (min-width: 470px) {  /* для разрешения экрана от 470 до 930 пикселей 
  aside {position: static; width: 100%; background: #ccc;} /* боковая колонка смещается согласно расположению в HTML и меняет фон 
}

@media (max-width: 469px) { /* если максимальное разрешение экрана составит 469 пикселей 
  body {font: .9em/1em "Helvetica Neue",Arial,Helvetica,sans-serif;} /* меняется шрифт 
  aside {display: none;} /* боковая колонка исчезает 
}*/

* {
	margin: 0;
	padding: 0;
}
ul li {
	display: inline-block;
	list-style-type: none;
}
.navBar {
	display: none;
}
label {
	cursor: pointer;
	font-size: 3em;
}
label:hover {
	color: grey;
}
input[type=radio]:checked + label {
	color: grey;
}
.section {
	font-size: 2em;
	text-align: center;
}
.test {
	background-color: grey;
	border: 1px solid black;
}
/*
#mainSaction {
	background-image: url(../img/2.png);
	background-size: 100%;
	background-repeat: no-repeat;
}
#mediaSaction {
	background-image: url(../img/3.png);
	background-size: 100%;
	background-repeat: no-repeat;
}
.centerbox {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}*/